<li class="treeview">
    <a href="#">
        <i class="fa fa-book"></i>
        <span>Setting</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="{% url 'setting:template-create' %}"><i class="fa fa-circle-o"></i> Template </a>
        </li>
    </ul>

    {#    For multi level form #}

    {#    <ul class="treeview-menu">#}
    {#        <li class="treeview">#}
    {#            <a href="#"><i class="fa fa-circle-o"></i> Batch#}
    {#                <span class="pull-right-container">#}
    {#                      <i class="fa fa-angle-left pull-right"></i>#}
    {#                    </span>#}
    {#            </a>#}
    {#            <ul class="treeview-menu">#}
    {#                <li><a href="#"><i class="fa fa-circle-o"></i>Create</a></li>#}
    {#                <li><a href="#"><i class="fa fa-circle-o"></i> List</a></li>#}
    {#            </ul>#}
    {#        </li>#}
    {#    </ul>#}
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-book"></i>
        <span>चार किल्ला</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'charkilla:create' %}"><i class="fa fa-circle-o"></i>Create</a></li>
        <li><a href="{% url 'charkilla:list' %}"><i class="fa fa-circle-o"></i> List</a></li>
    </ul>
</li>
