.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
    border: 1px solid black;
}

.table-borderless > thead > tr > th, .table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th, .table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td, .table-borderless > tfoot > tr > td {
    border: 0.1px solid transparent;
}


.borderless-input {
    height: 25px;
    border-style: None;
    background-color: transparent;
    border-bottom: 1px dotted black;
    margin: 0 10px 0 0;
}

.jumbotron{
    background-color: transparent;
}