{% extends 'base.html' %}
{% load static %}

{% block content_header %}
{% endblock %}

{% block body_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default direct-chat direct-chat-warning collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Non Related Fields</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body" style="display: none;">
                        <div class="direct-chat-messages" style="height: unset;">
                            {% for placeholder in non_related_fields %}
                                <button class="btn btn-sm btn-bitbucket add-template" value="{{ placeholder }}"
                                        style="font-size: 100%; font-weight: normal; padding: unset; margin-bottom: 10px;">
                                    &nbsp;{{ placeholder }}&nbsp;
                                </button>&nbsp; &nbsp;
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-default direct-chat direct-chat-warning collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Related Fields</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body" style="display: none;">
                        <div class="direct-chat-messages" style="height: unset;">
                            {% for placeholder in related_fields %}
                                <button class="btn btn-sm btn-bitbucket add-template" value="{{ placeholder }}"
                                        style="font-size: 100%; font-weight: normal; padding: unset; margin-bottom: 10px;">
                                    &nbsp;{{ placeholder }}&nbsp;
                                </button>&nbsp; &nbsp;
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    {% csrf_token %}
                    {{ form.type }}
                    {{ form.model }}
                    {{ form.template | safe }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script>
        $('body').on('click', '.add-template', function () {
            CKEDITOR.instances['id_template'].insertText($(this).val());
        });
    </script>
{% endblock %}