{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_name %}
    <!--Add Some thing here. -->
{% endblock %}

{% block page_description %}
    Create
{% endblock %}

{% block breadcrumbLink %}
    <li>
        <a href="#" class="breadcrumb-item"><!--Add Some thing here. --></a>
    </li>
    <li>
        <a href="#" class="breadcrumb-item active"><!--Add Some thing here. --></a>
    </li>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <form method="post" {% if enctype %} enctype="{{ enctype }}" {% endif %}>
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{% endblock %}
