{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <form method="post">
                    {% csrf_token %}
                    {{ form.type }}
                    {{ form.model }}
                    {{ form.template | safe}}
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-md-3">
                <div class="box box-info">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">Single Value Placeholders</h3>
                    </div>
                    <div class="box-body">
                        <div class="direct-chat-messages">
                            {% for placeholder in placeholders %}
                                <div class="product-title">
                                    {{ placeholder }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="box box-info">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">Multi Value Placeholders</h3>
                    </div>
                    <div class="box-body">
                        <div class="direct-chat-messages">
                            {% for placeholder in placeholders %}
                                <div class="product-title">
                                    {{ placeholder }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
