{% extends 'base.html' %}
{% block content %}
    <div class="pull-right">
        <a href="#" class="btn add-batch btn-sm btn-primary" style="margin-bottom: 10px;">Add
            New</a>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <th>{{ object }}</th>
                                    <th>
                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% include 'snippets/_pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}